---
layout: default
---

<style>
  blockquote.infobox {
    color:black;
    background: #f9f9f9;
    font-style:normal;
    padding: 1em;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:2px solid #a9a9a9;
  }
</style>

<article class="post h-entry" itemscope itemtype="http://schema.org/TechArticle">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateLastUpdated">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.lastUpdated | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <p>{% if page.previous.url %}<a href="{{page.previous.url}}">&lt; {{page.previous.title}}</a> {% endif %}
    | <a href=".">Overview</a> |
    {% if page.next.url %} <a href="{{page.next.url}}">{{page.next.title}} &gt;</a>{% endif %}</p>

    <blockquote class="infobox">
      <h4>Level:
    {% if page.level == 0 %}
      ⚪⚪⚪⚪⚪ <span style="color:purple">All levels
    {% elsif page.level == 1 %}
      ⚫⚪⚪⚪⚪ <span style="color:green">Beginner
    {% elsif page.level == 2 %}
      ⚫⚫⚪⚪⚪ <span style="color:green">Beginner
    {% elsif page.level == 3 %}
      ⚫⚫⚫⚪⚪ <span style="color:orange">Advanced
    {% elsif page.level == 4 %}
      ⚫⚫⚫⚫⚪ <span style="color:orange">Advanced
    {% elsif page.level == 5 %}
      ⚫⚫⚫⚫⚫ <span style="color:red">Expert
    {% endif %} </h4>
      <h4>Requirements</h4>
      <ul>
      {% for req in page.requirements %}
        <li>{{ req }}</li>
        {% endfor %}
      </ul>

      <h4>Content</h4>
      <ul>
      {% for lesson in page.lessonsContent %}
        <li>{{ lesson }}</li>
      {% endfor %}
      </ul>

      <h4>Overview</h4>
    {% include toc.html html=content %}
    </blockquote>

    {{ content }}

    <br />

    <blockquote class="infobox">
      <h4>Lessons learned</h4>
      <ol>
        {% for lesson in page.lessonsLearned %}
          <li>{{ lesson }}</li>
        {% endfor %}
      </ol>
    </blockquote>

    <p>{% if page.previous.url %}<a href="{{page.previous.url}}">&lt; {{page.previous.title}}</a> {% endif %}
    | <a href=".">Overview</a> |
    {% if page.next.url %} <a href="{{page.next.url}}">{{page.next.title}} &gt;</a>{% endif %}</p>

  </div>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
